<%- include("partials/header", {user: user, user_type: user_type}) %>
<div class="card container-fluid shadow p-4 text-center">
    <h1 class="display-4">403 - Not Authorized</h1>
    <p>You are not authorized to access this page.</p>
    <a href="/" class="btn btn-primary">Go Home</a>
</div>
<%- include("partials/footer", {user: user, user_type: user_type}) %>