<%- include("partials/header", {user: user, user_type: user_type}) %>

    <h1 class="display-4"><%= message %></h1>

    <a href="<%= backLink %>">Go Back</a>

<%- include("partials/footer", {user: user, user_type: user_type}) %>